*.iml
.gradle/
/android/local.properties
/.idea/
.DS_Store
/android/build
android/app/build/
.kotlin/
/captures
.externalNativeBuild
.cxx
android/gradle/wrapper/gradle-wrapper.jar
!android/gradle/wrapper/gradle-wrapper.properties
