*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
app/build/
.kotlin/
/captures
.externalNativeBuild
.cxx
gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# React Native (lab-01-solution)
node_modules/
.cxx/
*.jsbundle

